<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #333333;
        }
        p {
            color: #666666;
            font-size: 18px;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>About</h1>
    <p>
        Tentang Ketertarikan
Saya adalah seseorang yang memiliki ketertarikan yang besar terhadap teknologi, terutama dalam bidang kripto dan pengembangan web. Saya merasa tertarik dan antusias untuk terus belajar dan mengembangkan kemampuan saya dalam hal-hal terkait dengan teknologi informasi.
    </p><br>
    <p>
Minat dalam Cryptocurrency
Saya sangat menyukai dunia kripto dan mata uang digital. Saya mengikuti perkembangan terkini dalam dunia blockchain, serta tertarik dengan aspek-aspek seperti teknologi di baliknya, potensi aplikasi, dan dampaknya pada dunia keuangan global.
    </p><br>
    <p>
Pemula dalam HTML dan CSS
Saat ini, saya masih dalam tahap pemula dalam pengembangan web menggunakan HTML dan CSS. Meskipun begitu, saya memiliki semangat dan motivasi untuk terus belajar dan mengembangkan keterampilan saya dalam membangun tampilan visual yang menarik dan responsif.
    </p><br>
    <p>
Tujuan dan Harapan
Dengan minat dan pengetahuan yang saya miliki, saya berharap dapat menjadi seorang profesional yang kompeten dalam bidang teknologi informasi, terutama dalam pengembangan web dan penerapan teknologi blockchain. Saya percaya bahwa dengan dedikasi dan kerja keras, saya dapat mencapai tujuan tersebut dan memberikan kontribusi positif dalam industri teknologi.
    </p>
</body>
</html>
